@import url('workshop-common.css');

#left {
	float: left;
	border-right: thin solid black;
	width: 300px;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	padding: 5px;
}

#content {
	margin-left: 300px;
	padding-left: 10px;
}

